.Containerlogo{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.LogoPosition{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -200px;
    margin-bottom: -300px;
    background-color: transparent;
}

@media only screen and (max-width: 380px) {
    .LogoPosition{
        position: absolute;
        width: 100%;
        height: 100%;
        top: -180px;
        margin-bottom: -300px;
        background-color: transparent;
    }
}


/*
.LogoPosition{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0px;
    margin-bottom: -600px;
    background-color: transparent;
} */